@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  src: url("../src/assets/pokemon_font/Pokemon_Hollow.ttf") format("woff");
  font-family: "Pokemon_Hollow";
  font-style: normal;
  font-display: block;
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
.zi_img {
  z-index: -1;
}
.App {
  display: flex;
  flex-direction: column;
}
.App .font_title {
  font-family: "Pokemon_Hollow";
}
.App .block_pokemons {
  margin-top: -520px;
}
.App .card_pokemon {
  width: 18%;
  height: 250px;
  border-radius: 1rem;
  z-index: 1;
}
.types p {
  background-color: #fff;
  padding: 7.5px;
}
.type_pok {
  border-radius: 10px;
  padding: 12.5px;
  margin-left: 10px;
  background-color: #fff;
}
.App .card_pokemon .pokemon_id {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding-right: 3px;
}
.poke_img-block {
  width: 60%;
}
.poke_img {
  width: 22.5%;
  position: relative;
}
.g-10 {
  /* gap class pakt hij niet */
  gap: 10px;
}
.ml-10 {
  /* margin left pakte hij niet */
  margin-left: 10px;
}
.justify-evenly {
  /* hij pakte deze klasse niet op de pokemon pagina */
  justify-content: space-evenly;
}
.justify-between {
  /* de link bovenin de pokemonpagina werkte niet met justify-between */
  justify-content: space-between;
}

/* css for individual pokemon */
.top_pokemon {
  height: 50%;
}
.top_pokemon .back_img {
  /* hij pakt w-20 niet */
  width: 85px;
}
.top_pokemon .name_id {
  /* ook deze dit pakt hij niet */
  justify-content: space-around;
  font-size: 25px;
}
.change_id {
  width: 70px;
  height: 70px;
}
.btm_pokemon {
  height: 50%;
  background-color: #fff;
  border-radius: 125px 125px 0px 0px;
}